html
  include include/header.pug
  link(rel="stylesheet" type="text/css" href="/css/login.css")
  body
  nav.navbar.navbar-expand-lg.light.bg-light.fixed-top
    a.navbar-brand#nav-logo.text-primary POPO
    .ml-auto
      span.align-baseline#username 
  section#login-form-section
    form.container.py-5#login-form
      .form-group
        p.h4.text-center Personal Page
      .form-group.border-bottom.border-top
        p Message Board
        .row
          .col-10
            lable.text-info#managerBoardInfo 
            p.text-danger#managerBoard 
          .col-2.pt-2
            button.btn.btn-outline-primary.btn-sm.align-middle#manager-btn(type="button" data-toggle="modal" data-target="#exampleModal") edit
        .row
          .col-10
            lable.text-info#frontBoardInfo 
            p.text-primary#frontBoard 
          .col-2.pt-2
            button.btn.btn-outline-primary.btn-sm#front-btn(type="button" data-toggle="modal" data-target="#exampleModal") edit
        .row
          .col-10
            lable.text-info#kitchenBoardInfo 
            p.text-primary#kitchenBoard 
          .col-2.pt-2
            button.btn.btn-outline-primary.btn-sm#kitchen-btn(type="button" data-toggle="modal" data-target="#exampleModal") edit
      .form-group.border-bottom
        p Clock In
          .form-group
            .row.text-center
              .col-4
                button.btn.btn-success.btn-lg#signIn-btn(type="button" data-toggle="modal" data-target="#signInModal") Sign In                
              .col-4
                button.btn.btn-outline-danger.btn-lg#signOut-btn(type="button" data-toggle="modal" data-target="#signOutModal" ) Sign Out
              .col-4
                button.btn.btn-warning.btn-lg#reSign-btn(type="button" data-toggle="modal" data-target="#reSignInModal") Re-Sign
            .row.pt-2
              .col
                p.mt-3#todayRecord 
      .form-group.border-bottom
          .row
            .col-8
              p#showPeriodTime 
            .col-4.text-right
              button.btn.btn-outline-Info.btn-sm#statistic-btn.mb-3(type="button") More Date
          .table-responsive
            table.table.table-striped.table-bordered.text-center
              thread
                tr
                  th(scope="col") week
                  th(scope="col") date
                  th(scope="col") In
                  th(scope="col") Out
                  th(scope="col") hours
                  th(scope="col") minutes
                  th(scope="col") drink
                  th(scope="col") apptizer
                  th(scope="col") notes
                  th(scope="col") Edit
                  th(scope="col") Delete

              tbody#table-body
    div#exampleModal(class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
      .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
          .modal-header
            h5.modal-title#exampleModalLabel 
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body
            form
              .form-group
                lable.col-form-label(for="message-text") New Message:
                textarea.form-control#message-text(type="text")
          .modal-footer
            button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
            button#modal-submit(type="button" class="btn btn-primary") Submit

    div#signInModal(class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true")
      .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
          .modal-header
            h5.modal-title#signInModalLabel Sign In Confirm
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body
            .container-fluid
              .row#signInModal-SignInAvaTime
                .col-4.text-center
                  button#signInModal-timeBtn-before(type="button" class="btn btn-outline-success")
                .col-4.text-center                
                  button#signInModal-timeBtn-nearest(type="button" class="btn btn-outline-success")
                .col-4.text-center
                  button#signInModal-timeBtn-after(type="button" class="btn btn-outline-success")
              .row.container#signInModal-SignedInInfo
                .row
                  .col.text-nowrap.h5 You are SignIn today
                .w-100
                .row
                  .col-6.text-nowrap#signInModal-SignedInInfo-signIn 
                  .col-6.text-nowrap#signInModal-SignedInInfo-signOut 
                .w-100
                .row
                  .col.text-nowrap#signInModal-SignedInInfo-hours 
                .w-100
                .row
                  .col-6.text-nowrap#signInModal-SignedInInfo-apptizer 
                  .col-6.text-nowrap#signInModal-SignedInInfo-drink 
                .w-100
                .row
                  .col.text-nowrap#signInModal-SignedInInfo-note
          .modal-footer
            button(type="button" class="btn btn-secondary" data-dismiss="modal") Close

    div#signOutModal(class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signOutModalLabel" aria-hidden="true")
      .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
          .modal-header
            h5.modal-title#signOutModalLabel Sign Out Confirm
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body
            .container-fluid
              #signOutModal-SignOutOthers
                .row
                  .col
                    .input-group-prepend
                      span.input-group-text month:
                      input.form-control#SignOutModal-apptizer(type="text" placeholder="apptizer")
                  .col
                    .input-group-prepend
                      span.input-group-text drink:
                      input.form-control#SignOutModal-drink(type="text" placeholder="drink")
                .row.mt-2
                  .col
                    .input-group-prepend
                      span.input-group-text note:
                      input.form-control#SignOutModal-notes(type="text" placeholder="notes")
              .pt-3
              .row#signOutModal-SignOutAvaTime
                .col-4.text-center
                  button#signOutModal-timeBtn-before(type="button" class="btn btn-outline-danger")
                .col-4.text-center                
                  button#signOutModal-timeBtn-nearest(type="button" class="btn btn-outline-danger")
                .col-4.text-center
                  button#signOutModal-timeBtn-after(type="button" class="btn btn-outline-danger")
              .row.container#signOutModal-SignedInInfo
                .row
                  .col.text-nowrap.h5 You are SignOut today
                .w-100
                .row
                  .col-6.text-nowrap#signOutModal-SignedInInfo-signIn 
                  .col-6.text-nowrap#signOutModal-SignedInInfo-signOut 
                .w-100
                .row
                  .col.text-nowrap#signOutModal-SignedInInfo-hours 
                .w-100
                .row
                  .col-6.text-nowrap#signOutModal-SignedInInfo-apptizer 
                  .col-6.text-nowrap#signOutModal-SignedInInfo-drink 
                .w-100
                .row
                  .col.text-nowrap#signOutModal-SignedInInfo-note
              .row#signOutModal-signInFirst
                .row
                  .col.text-nowrap.h5 You need SignIn before SignOut
          .modal-footer
            button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
    div#reSignInModal(class="modal fade" tabindex="-1" role="dialog" aria-labelledby="reSignInModalLabel" aria-hidden="true")
      .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
          .modal-header
            h5.modal-title#reSignInModalLabel Resign In and Out Confirm
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body
            .container-fluid
              lable.col-form-label The date
                .row
                  .col
                    .input-group-prepend
                      span.input-group-text month:
                      input.form-control#reSignInModal-month(type="text" placeholder="month")
                  .col
                    .input-group-prepend
                      span.input-group-text day:
                      input.form-control#reSignInModal-day(type="text" placeholder="day")
                .row.pt-2
                  .col
                    .input-group-prepend
                      span.input-group-text year:
                      input.form-control#reSignInModal-year(type="text" placeholder="year")
              .py-2
              lable.col-form-label Sign In Time
                .row
                  .col
                    .input-group-prepend
                      span.input-group-text HH:
                      input.form-control#reSignInModal-InHH(type="text" placeholder="HH")
                  .col
                    .input-group-prepend
                      span.input-group-text mm:
                      input.form-control#reSignInModal-Inmm(type="text" placeholder="mm")
              .py-2        
              lable.col-form-label Sign Out Time
                .row
                  .col
                    .input-group-prepend
                      span.input-group-text HH:
                      input.form-control#reSignInModal-OutHH(type="text" placeholder="HH")
                  .col
                    .input-group-prepend
                      span.input-group-text mm:
                      input.form-control#reSignInModal-Outmm(type="text" placeholder="mm")
              .py-2
              lable.col-form-label Others
                .row
                  .col
                    .input-group-prepend
                      span.input-group-text apptizer:
                      input.form-control#reSignInModal-apptizer(type="text" placeholder="apptizer")
                  .col
                    .input-group-prepend
                      span.input-group-text drink:
                      input.form-control#reSignInModal-drink(type="text" placeholder="drink")
                .row.pt-2
                  .col
                    .input-group-prepend
                      span.input-group-text note:
                      input.form-control#reSignInModal-notes(type="text" placeholder="note")
          .modal-footer
            button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
            button#reSignInModal-submit(type="button" class="btn btn-primary") Submit

    div#editModal(class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true")
          .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
              .modal-header
                h5.modal-title#editModalLabel Edit Record Confirm
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") x
              .modal-body
                .container-fluid
                  lable.col-form-label The date
                    .row
                      .col
                        .input-group-prepend
                          span.input-group-text month:
                          input.form-control#editModal-month(type="text" placeholder="month" disabled)
                      .col
                        .input-group-prepend
                          span.input-group-text day:
                          input.form-control#editModal-day(type="text" placeholder="day" disabled)
                    .row.pt-2
                      .col
                        .input-group-prepend
                          span.input-group-text year:
                          input.form-control#editModal-year(type="text" placeholder="year" disabled)
                  .py-2
                  lable.col-form-label Sign In Time
                    .row
                      .col
                        .input-group-prepend
                          span.input-group-text HH:
                          input.form-control#editModal-InHH(type="text" placeholder="HH")
                      .col
                        .input-group-prepend
                          span.input-group-text mm:
                          input.form-control#editModal-Inmm(type="text" placeholder="mm")
                  .py-2        
                  lable.col-form-label Sign Out Time
                    .row
                      .col
                        .input-group-prepend
                          span.input-group-text HH:
                          input.form-control#editModal-OutHH(type="text" placeholder="HH")
                      .col
                        .input-group-prepend
                          span.input-group-text mm:
                          input.form-control#editModal-Outmm(type="text" placeholder="mm")
                  .py-2
                  lable.col-form-label Others
                    .row
                      .col
                        .input-group-prepend
                          span.input-group-text apptizer:
                          input.form-control#editModal-apptizer(type="text" placeholder="apptizer")
                      .col
                        .input-group-prepend
                          span.input-group-text drink:
                          input.form-control#editModal-drink(type="text" placeholder="drink")
                    .row.pt-2
                      .col
                        .input-group-prepend
                          span.input-group-text note:
                          input.form-control#editModal-notes(type="text" placeholder="notes")
              .modal-footer
                button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                button#editModal-submit(type="button" class="btn btn-primary") Submit
  include include/footer.pug
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js")
  script(src="/js/functions.js")
  script(src="/js/me.js")