//- doctype html
html
  include include/header.pug
  link(rel="stylesheet" type="text/css" href="/css/login.css")
  body
  nav.navbar.navbar-expand-lg.light.bg-light.fixed-top
    a.navbar-brand(href="localhost:3000/login") POPO
  section#register-form-section
    form.container.py-5#register-form
      .form-group
        p.h4.text-center Member Register
      .form-group
        label(for="exampleInputEmail") Email
        input(type="emial" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email")
        small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
      .form-group
        label(for="exampleInputUserName") User Name
        input(type="emial" class="form-control" id="exampleInputUserName" aria-describedby="emailHelp" placeholder="User Name")
        small#emailHelp.form-text.text-muted Please input the name as same as your schedual.
      .form-group
        label(for="exampleInputPassword") Password
        input.form-control#exampleInputPassword(type="password" placeholder="Password")
      .form-group
        label(for="ConfirmPassword") Confirm Password
        input.form-control#ConfirmPassword(type="password" placeholder="Confirm Password")
      .container.row
        .col-6.text-center
          button.btn.btn-success(type="submit") Confirm
        .col-6.text-center
          button.btn.btn-outline-danger#register-btn(type="submit") Abandon
  footer#footer
    p.text-center Copyright POPO.LLC 2014-2018
    //- script(src="/js/function.js")
    script(src="/js/reg.js")
