html
  include include/header.pug
  link(rel="stylesheet" type="text/css" href="/css/login.css")
  body
  nav.navbar.navbar-expand-lg.light.bg-light.fixed-top
    a.navbar-brand#nav-logo(href="#") POPO
  section#register-form-section
    form.container.py-5#register-form
      .form-group
        p.text-center Thanks for you register, please wait manager to approve your application.
  //- script(src="/js/regWait.js")
  script(src="/js/regWait.js")
  